<%- include("./index.ejs")%>
  <div class="area">
    <h1 class="h1Text">Welcome!</h1>
    <h2 class="h2Text">
      Activated your account
    </h2>
    <button variant="contained" color="primary" class="mt-3">
      <a href="https://team-creator.vercel.app">Sign in now</a>
    </button>
  </div>