<%- include("./index.ejs")%>
    <div class="area">
        <h1 class="h1Text">OPPS!</h1>
        <h2 class="h2Text">
            Link has been expired!!...
        </h2>
        <h2 class="h3Text">Sign Up Again</h2>
        <button variant="contained" color="primary" class="mt-3">
            <a href="https://team-creator.vercel.app/signup">Sign up again</a>
        </button>
    </div>