:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.area{
    text-align: center;
    background-color: rgb(187, 215, 239);
    height: 100vh;
    padding: 3rem;
}
button{
    border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 700;
  font-family: inherit;
  background-color: #535bf2;
  color: #1c1c1d;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: larger;
  margin-top: 2rem;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:hover {
    color: #0f0f0f;
  }
a {
    color: #1c1c1d;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
  }
}
.h1Text, .h2Text, .h3Text {
    font-family: "Arial Black", sans-serif;
    color: #1c1c1d;
}
@media screen and (max-width: 480px) {
    .h1Text {
        font-size: 100px;
    }.h2Text {
        font-size: 40px;
    }.h3Text {
        font-size: 40px;
    }
    .paragraph{
        font-size: small;
    }
  }
  @media screen and (min-width: 768px) {
    .h1Text {
        font-size: 200px;
    }.h2Text {
        font-size: 80px;
        margin-top: -5%;
    }.h3Text {
        font-size: 80px;
        margin-top: -2%;
    }
  }